{% extends 'base.html.twig' %}

{% block title %}Nouveau Personnage{% endblock %}

{% block body %}
    <h1>Nouveau Personnage</h1>

    {{ include('character_html/_form.html.twig') }}
{% endblock %}
